


<%- include('fragments/head.ejs')%>

<body>


        <div class = "container">
        <h1>Title: <%=prod.title%> </h1>
        <p><img src="<%=prod.imageUrl%>"></i></p>
        <p>Price: <%=prod.price%> </p>
        <p>Description: <%=prod.description%> </p>
  
    </div>
 

    <%- include('fragments/end.ejs')%>